body {
    margin : 0;
    padding: 0;
    background-color: #68cdd5;
}

.back {
    margin-top:  2vh;
    margin-left: 2vw;
}

.logo {
    width: 200px;               /*给元素一个宽度解决margin：0 auto不能运行问题*/
    display: block;
    margin: 0 auto;
    padding-top: 6vh;
}

.content {
    color: #fff;
    font-size: 2.3rem;           /*设置字体为23px*/
    text-align: left;            /*保证每行字体居左对齐*/
    margin-top: 8vh;
    padding: 0 14vw;
}

.com {
    font-size: 1.8rem;
    color: #fff;
    margin-top: 10vh;
    text-align: center;         /*保证图片下面的字体居中图片对齐*/
}

.com img {
    display: block;
    width : 9vh;
    height: 9vh;
    size: auto;
    margin: auto;
    margin-bottom: 1.2vh;      /*保证图片和文字有一定的间距*/
}

.contract {
    float: left;
    margin-left: 14vw;
}

.about {
    float: right;
    margin-right: 14vw;
}

/*清除浮动*/
.com:after {
    content: '';
    display: block;
    clear: both;
}
