html,
body,
div,
p {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
}

/*顶部导航栏部分*/

.fix {
    position: fixed;
    top: 0;
    z-index: 1;                   /*保证导航部分一直顶层显示*/
    width: 100%;                  /*必须添加，不然不会全屏显示*/
    background-color: #34bede;

}

.topbar2 {
/*    width: 100%;             注意：这里不能设置宽度，否则会影响布局效果*/
    height: 5rem;
    line-height: 5rem;
    color: #fff;
    font-size: 2rem;
}

.X{
    position: relative;
}

.xl {
    position: absolute;
    top: 1.6rem;
    right: 1rem;
    color: #fafefe;
}

.topbar2 .p {
    border: 2px solid #fff;
    padding: 2px;
}

/*音频部分*/

.top-medium {
    position: relative;
    padding-left: 8%;
    margin-top: 5rem;                /*保证音频部分不会导航栏部分重叠*/
    height: 5rem;
    line-height: 5rem;
    color: #606f73;
    font-size: 1.5rem;
    background-color: #b9e9f5;
}

.top-medium img {
    position: absolute;
    right: 1rem;
    top: 0.75rem;
    height: 3.3rem;                /*控制图片的大小以适应屏幕*/
    max-height: 3.3rem;            /*图片的最大放大比例*/
}

.top-medium img:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.1);         /*鼠标悬停时图片呈现放大效果*/
}

.triangle-down {                   /*下三角形的制作方式*/
    display: inline-block;
    position: absolute;
    top: 4.6rem;
    left: 10%;
    width: 0;
    height: 0;
    border-left: .8rem solid transparent;
    border-right: .8rem solid transparent;
    border-top: 1.5rem solid #b9e9f5;

}

/*主体部分*/

main {
    padding-bottom: 8rem;
    width: 100%;
    background-color: #34bede;
}

.man-icon {
    color: #fff;
    font-size: 1.6rem;
    padding-left: 8%;
    margin: 1.5rem 0;          /*保证和上下有一定的外边距*/
}

.wrap {
    width: 100%;
    height: 100%;
    border: 3px solid #fff;
}

.yellow-wrap {
    padding: 20% 0 50% 0;      /*使用padding把bootstrap的内容部分撑开*/
    height: 0;
    width: 100%;
    color: #606f73;
    font-size: 1.8rem;
    background-color: #f3c881;
}

.dark-wrap {
    padding: 10% 0 30% 0;
    height: 0;
    font-size: 1.2rem;
    color: #fff;
    background-color: #82af9b;
}

.map-guide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    opacity: 0;                /*鼠标未悬停时隐藏内容*/
}

.wrap:hover ~.map-guide {
    opacity: 1;               /*鼠标悬停到wrap内容时，呈现隐藏的内容*/
}

.map-guide i {
    float: left;
    width: 5vw;               /*设置单张图片的宽高*/
    height: 5vw;
    margin: 1vw;              /*保证map的上下有一定的间距*/
    background-image: url(../img/task7-sprite.png);
    background-repeat: no-repeat;
    background-size: 23vw 5vw;      /* 关键：确定背景的大小，否则图片无法正常显示*/
}
/*利用背景图定位，显示雪碧图里的内容*/
.map1 {
    background-position: -0.4vw 0;
}

.map2 {
    background-position: -6vw 0;
}

.map3 {
    background-position: -11.6vw 0;
}

.map4 {
    background-position: -17.4vw 0;
}

/*footer部分*/

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 6rem;
    background-color: #34bede;
}

#foot {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.kill {
    width: 80%;
    height: 55%;
    font-size: 1.8rem;
}

/*添加按钮的权重，让字体颜色可以正常显示*/
#foot a{
    color: #fff;
}

#foot a:hover {
    text-decoration: none;
    font-size: 2.0rem;
}
