/*去除浏览器默认样式*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select {
    margin: 0;
    padding: 0;
}

/*公共样式*/
.ellipse {                      /*字体超出部分用点表示*/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*媒体查询部分*/

@media (max-width: 767px) {

    .topbar .log-in a {
        padding: 20% 12px;
    }

    .navbar-t .navbar {
        height: 4rem;
        line-height: 4rem;
    }

    .navbar-t .navbar .butn-relative {
        position: relative;
    }

    .navbar-t .navbar .butn-relative .butn {
        position: absolute;
        top: -2rem;
    }
    .navbar-t .navbar .butn-relative .butn button {
        margin: auto;
/*        float: left;*/
    }
}

/*登录注册部分*/

.topbar {
    background-color: #1D7AD9;
    color: #fff;
    font-size: 14px;
    height: 2.5rem;
    line-height: 2.5rem;
}

.contract {
    display: inline-block;            /*保证float可以起作用*/
    line-height: 2.5rem;
    width: 40%;
}

.flt {
    float: right;
}

.log-in a {
    color: #fff;
    font-size: 1rem;
    padding: 4% 40px;
}

.log-in a:hover {
    background-color: #fff;
    color: #333;
    text-decoration: none;
}

/*导航栏部分*/

.navbar {
    background-color: #F9F9F9;
    height: 6.25rem;
    line-height: 6.25rem;
    width: 100%;
}

.navbar .btn-color {
    background-color: #fff;
}

.navbar .btn-color a {
    color: #000;
    text-decoration: none;
}

.navbar .btn-color:hover {
    background-color: #1D7AD9;
}

.navbar .btn-color a:hover {
    color: #fff;
}

.navbar .butn-relative .butn {
    margin-left: auto;
}

.navbar .butn button {
    margin: 0 1.5rem;
}

.navbar .butn button:nth-child(4) {            /*去除最后一个右外边距*/
    margin-right: 0;
}

/*进度条部分*/

.progress-line {
    margin-top: 3rem;
}

.progress-line .progress {
    float: right;
    height: .4rem;
    width: 60%;
}

.progress-line .progress .progress-bar{
    background-color: #FF7F02;
}

.progress-line .round-bar{
    position: relative;
}

.progress-line .round-bar .item1 {
    position: absolute;
    top: -.5rem;
    right: 52%;
    display: inline-block;
    line-height: 1.3rem;                /*保证文字垂直居中对齐*/
    width: 1.3rem;
    border-radius: 50%;
    background-color: #FF7F02;
    font-size: .7rem;
    font-weight: 600;
    text-align: center;
    color: #fff;
}

.progress-line .round-bar .item2 {
    right: 36.5%;
    background-color: #ccc;
}

.progress-line .round-bar .item3 {
    right: 21.5%;
    background-color: #ccc;
}

.progress-line .round-bar .item4 {
    right: 6.5%;
    background-color: #ccc;
}

.round-bar .font-bar {
    position: absolute;
    top: 1.5rem;
    right: 49.5%;
    color: #FF7F02;
    font-size: 18px;
}

.round-bar .font-bar2 {
    right: 33.5%;
    color: #ccc;
}

.round-bar .font-bar3 {
    right: 18.5%;
    color: #ccc;
}

.round-bar .font-bar4 {
    right: 3.5%;
    color: #ccc;
}
.progress-line .progress .bgc {
    background-color: #ccc;
}

/*表单说明部分*/
.table-head {
    position: relative;
    margin-top: 10rem;
}

.table-head .head-intro i {
    position: absolute;
    top: .4rem;
    display: inline-block;
    padding-top: 1rem;
    height: 22px;
    width: 4px;
    background-color: #1D7AD9;
    border-radius: 2px;
}

.table-head .head-intro span{
    padding-left: .6rem;
    color: #333;
    font-size: 22px;
}

/*表单正式部分*/

.table-form {
    height: 790px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(15,1fr);
    background-color: #fff;
}

/*表单公共部分*/
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.border {
    border: 1px solid #F5F5F5
}

.item {
    padding: .5rem 0;
    font-size: 18px;
    color: #1D7AD9;
    background-color: #F1F1F1;
}

.item-com {
    padding-left: 2.5rem;
    padding-top: 1.8rem;
    font-size: 18px;
    color: #666;
}

.w-10 {
    width: 10%;
}

lable-space {
    margin-right: 1rem;
}

.table-form .item1 {
    grid-row: 1 / 2;
    grid-column: 1 / 7;
    margin-top: 1rem;
}

.table-form .item2 {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-column: 1 / 4;
    grid-row: 2 / 4;
    padding-left: 2.5rem;
    font-size: 18px;
    color: #666;
    border-top: 0!important;
    border-bottom: 0!important;
    border-right: 0!important;
}

.table-form .item3 {
    grid-row: 2 / 4;
    grid-column: 6 / 7;
    border-right: 1px solid #F1F1F1;
}
.table-form .item4 {
    grid-row: 4 / 5;
    grid-column: 1 / 7;
}

.table-form .item5 {
    grid-row: 5 / 6;
    grid-column: 1 / 5;
    border-left: 1px solid #F1F1F1;
}

.table-form .item5 lable {
    padding-left: 2.5rem;
}

.table-form .item6 {
    grid-column: 1 / 5;
    grid-row: 6 / 7;
    padding-bottom: 1.8rem;
    border-left: 1px solid #F1F1F1;
}

.table-form .item6 lable {
    padding-left: 2.5rem;
}

.table-form .item7 {
    grid-column: 6 / 7;
    grid-row: 5 / 7;
    border-right: 1px solid #F1F1F1;
}

.table-form .item8 {
    grid-row: 7 / 8;
    grid-column: 1 / 7;
}

.table-form .item9 {
    grid-row: 8 / 10;
    grid-column: 1 / 6;
    padding-top: 0;
    border-left: 1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
}

.table-form .item9 label {
    padding-right: 1rem;
}

.table-form .item10 {
    grid-row: 8 / 10;
    grid-column: 6 / 7;
    border-right:  1px solid #F1F1F1;
    border-bottom: 1px solid #F1F1F1;
}
.table-form .form-control {
    width: 70%;
    color: #999;
    /*去掉默认的下拉三角*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /*添加下拉三角图标*/
    background: url("../img/tranger.jpg") no-repeat right center transparent;
}

.table-form .form-control .active > span {
    color: #999;
}
