html,
body,
div,
p {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    height: 100%;
}

/*E  主体部分结束*/

/*
----------------------------------------------------------------------------------------------------------------------------------
****************************************************游戏结果界面css************************************************
-----------------------------------------------------------------------------------------------------------------------------------*/

/*顶部导航栏部分*/

.bgc {
    background-color: #34bede;
}

.topbar1 {
    position: relative;
    height: 5rem;
    line-height: 5rem;
    color: #fff;
    font-size: 2.0rem;
    border-bottom: 1px solid #fff;
}

.posi {
    position: absolute;
    right: 1.4rem;
    top: 1.5rem;
}

/* 胜利logo部分*/

.logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
    height: 11rem;
    background-color: #34bede;
}

.logo img {
    height: 10rem;
    width: auto;
    max-height: 10rem;
}

/*结果部分*/

.logo-descrip {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 2rem;
    color: #fac86d;
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
}

/*人数统计部分*/

.descrip {
    margin-top: 2.5rem;
    color: #fff;
    font-size: 1.8rem;
}

.descrip p {
    padding: 0.4rem 0;
}

/* 详细情况部分*/

.day {
    padding-left: 6%;
    /*这里必须用padding，用margin的话会导致分割线不能完整显示*/
    color: #a6a6a6;
    font-size: 1.6rem;
    text-align: left;
    border-bottom: 1px solid #e1e2e3;
}

.day-num {
    position: relative;
    padding: 1rem 0;
    color: #333333;
    font-size: 1.8rem;
}

.day-num span {
    position: absolute;
    right: 5rem;
    font-size: 1.4rem;
    color: #a6a6a6;
}

.day p {
    padding-bottom: 1rem;
}

/*按钮部分*/

.buto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    height: 5rem;
    width: 100%;
    background-color: rgba(15, 178, 217, .5);
    /*让按钮部分背景色变成半透明*/
}

.control {
    margin-bottom: 6rem;
}

.btn1 {
    height: 3.2rem;
    width: 9rem;
}


/*
----------------------------------------------------------------------------------------------------------------------------------
****************************************************投票界面css************************************************
-----------------------------------------------------------------------------------------------------------------------------------*/

.topbar2 {
     position: relative;
    height: 5rem;
    line-height: 5rem;
    color: #fff;
    font-size: 2rem;
}
.x {
    position: relative;
}

.xl {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    color: #fafefe;
}

.p {
    border: 2px solid #fff;
    padding: 2px;
}

.top-medium {
    position: relative;
    height: 5rem;
    line-height: 5rem;
    background-color: #b9e9f5;
    width: 100%;
    color: #606f73;
    font-size: 1.7rem;
    padding-left: 8%;
}

.top-medium img {
    position: absolute;
    right: 1rem;
    top: 0.75rem;
    height: 3.3rem;
    max-height: 3.3rem;
}

.triangle-down {
    display: inline-block;
    position: absolute;
    top: 4.6rem;
    left: 10%;
    width: 0;
    height: 0;
    border-left: .8rem solid transparent;
    border-right: .8rem solid transparent;
    border-top: 1.5rem solid #b9e9f5;

}

main {
    width: 100%;
    background-color: #34bede;
    padding-bottom: 3rem;
}

.man-icon {
    color: #fff;
    font-size: 1.6rem;
    padding-left: 8%;
    margin-top: 1.5rem;
}

.spce {
    margin: 2rem 0;
    margin-bottom: 3rem;
}

.wrap {
    width: 100%;
    height: 100%;
    border: 3px solid #fff;
}

.yellow-wrap {
    height: 0;
    padding: 20% 0 50% 0;
    width: 100%;
    background-color: #f3c881;
    color: #606f73;
    font-size: 1.8rem;
}

.dark-wrap {
    height: 0;
    padding: 10% 0 30% 0;
    background-color: #82af9b;
    font-size: 1.2rem;
    color: #fff;
}

footer {
    width: 100%;
    height: 5rem;
    background-color: #34bede;
}
.foot {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-bottom: 2rem;
}

.kill {

    display: block;
    position: fixed;
    bottom: 0;
    width: 70%;
    font-size: 1.8rem;
}
