html, body,div, p{margin: 0; padding: 0;}

html {
    font-size: 62.5%;
}

body {
    background-color: #eff0f1;
}
/*

*/
.topbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 4.8rem;
    background-color: #29bde0;
}

.menu {                                /*利用div加上下border的形式制作三横选框*/
    padding: 0.5rem 0;
    margin-left: 2rem;
    height: 0.3rem;
    width: 2.5rem;
    border-top: 0.3rem solid  #fff;
    border-bottom: 0.3rem solid  #fff;
/* background-clip设置元素的背景（背景图片或颜色）是否延伸到边框下面。 这里让背景裁剪到内容区外沿*/
    background-clip: content-box;
    background-color: #fff;
}
/*E  topbar内容结束*/

/*S  主体内容部分开始*/
main {
/*    position: relative;*/
    margin: 0 auto;                   /*让主体部分居中对齐*/
    padding: 2rem 0;
    width: 90%;
}

.top-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    color: #afb0b1;
    font-size: 2rem;
    background-color: #feffff;
    border: 1px solid #dddedf;
}

.right-arrow {                      /*利用css制作右箭头*/
    position: absolute;
    right: 1.5rem;
    width: 1.2rem;
    height: 1.2rem;
    border-top: .3rem solid #e6e9e9;
    border-right: .3rem solid #e6e9e9;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);      /*将元素围绕一个定点，顺时针方向旋转45度*/
}

.content {
    margin-top: 2rem;
    width: 100%;
    border: 1px solid #dddedf;
    background-color: #feffff;
}

.orange {
    border-bottom: 2px solid #f8be5d;
    padding: 2rem;
    text-align: center;
    font-size: 3rem;
    color: #f8be5d;
}

.com-content {
    margin: 0 auto;
    padding-top: 2rem;
    width: 85%;
}

.com-content a {
    text-decoration: none;
}

.com-content p {
    text-align: center;
    color: #b2b3b3;
    font-size: 1.6rem;
}
.block-lk {
    margin-bottom: 2rem;
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    text-align: center;
    color: #fff;
    font-size: 2.5rem;
    background-color: #6dd2e9;
}

.triangle-right {            /*制作右三角形且相对白界面时固定的*/
    position: fixed;
    right: 6%;
    top: 55%;
    width: 0;
    height: 0;
    border-top: 1.2rem solid transparent;
    border-left: 1rem solid #f8b547;
    border-bottom: 1.2rem solid transparent;
}
.dots-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 2rem 0;
}
.dots {                             /*利用css制作小圆点*/
    display: inline-block;
    margin: 0 0.2rem;
    width: 1rem;
    height: 1rem;
    background: #eff0f1;
    border-radius: 50%;
}

.dots:nth-child(1) {
    background: #6bd3e9;
}
/*E  主体部分结束*/



/*
----------------------------------------------------------------------------------------------------------------------------------
****************************************************游戏结果界面css************************************************
-----------------------------------------------------------------------------------------------------------------------------------*/

.bgc {
            background-color: #34bede;
        }

        .topbar1 {
            position: relative;
            height: 5rem;
            line-height: 5rem;
            color: #fff;
            font-size: 2.0rem;
            border-bottom: 1px solid #fff;
        }

        .posi {
            position: absolute;
            right: 1.4rem;
            top: 1.5rem;
        }

        .logo {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            margin-top: 2rem;
            width: 100%;
            height: 11rem;
            background-color: #34bede;
        }

        .logo img {
            height: 10rem;
            width: auto;
            max-height: 10rem;
        }

        .logo-descrip {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding: 0 2rem;
            color: #fac86d;
            font-size: 2rem;
            font-weight: 600;
            text-align: left;
        }

        .descrip {
            margin-top: 2.5rem;
            color: #fff;
            font-size: 1.8rem;
        }

        .descrip p {
            padding: 0.4rem 0;
        }

        .day {
            padding-left: 6%;                  /*这里必须用padding，用margin的话会导致分割线不能完整显示*/
            color: #a6a6a6;
            font-size: 1.6rem;
            text-align: left;
            border-bottom: 1px solid #e1e2e3;
        }

        .day-num {
            position: relative;
            padding: 1rem 0;
            color: #333333;
            font-size: 1.8rem;
        }

        .day-num span {
            position: absolute;
            right: 5rem;
            font-size: 1.4rem;
            color: #a6a6a6;
        }

        .day p {
            padding-bottom: 1rem;
        }

        .buto {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            position: fixed;
            bottom: 0;
            height: 5rem;
            width: 100%;
            background-color: rgba(15, 178, 217, .5);               /*让按钮部分背景色变成半透明*/
        }

        .control {
            margin-bottom: 6rem;
        }

        .btn1 {
            height: 3.2rem;
            width: 9rem;
        }
