.top-text {
    margin-top: 7.5rem;
    padding: 2rem 0;
    border-bottom: 3px solid #D0D6D9;
}

.job-class {
    line-height: 4rem;
    border-bottom: 1px solid #D0D6D9;
}

.job-class span {
    padding: 0 1rem;
}

.job-class .diraction {
    color: #999;
}

.job-class a {
    color: #333;
}

.job-class a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #29B078;
}

.job-class-active {
    border-bottom: 1px solid #D0D6D9;
}

.job-class-active span {
    color: #333;
    font-weight: 600;
    line-height: 5rem;
}

.classify {
    background-color: #fff;
    font-size: 12px;
    color: #999;
}

.classify img {
    display: inline-block;
    max-height: 7rem;
}

.classify p {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    line-height: 2.5rem;
}

.classify .col-lg-8 span {
    font-size: 13px;
    color: #333;
}

.table .td-1, .table .td-2{
    width：70%；
}

.clearlyIntro .table .tdd-2 .td-3 {
    width: 50%;
    text-align: center;
    vertical-align: middle;
}


