.top-text {
    margin-top: 7.5rem;
    padding: 2rem 0;
    border-bottom: 3px solid #D0D6D9;
}

.job-class {
    line-height: 4rem;
    border-bottom: 1px solid #D0D6D9;
}

.job-class span {
    padding: 0 1rem;
}

.job-class .diraction {
    color: #999;
}

.job-class a {
    color: #333;
}

.job-class a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #29B078;
}

.job-class-active {
    border-bottom: 1px solid #D0D6D9;
}

.job-class-active span {
    color: #333;
    font-weight: 600;
    line-height: 5rem;
}

.classify {
    background-color: #fff;
    font-size: 12px;
    color: #999;
}

.classify img {
    display: inline-block;
    max-height: 7rem;
}

.classify p {
    color: #333;
    font-size: 16px;
    font-weight: 600;
    line-height: 2.5rem;
}

.classify .col-lg-7 span {
    font-size: 13px;
    color: #333;
}

/*-----------------------------------------表格部分---------------------------------------*/

.clearlyIntro .table-animation .item {
    border: 1px solid #dee2e6;
}

.clearlyIntro .table{
    margin-bottom: 0;
    line-height: 1.8rem;
}

.clearlyIntro .table .td-1 {
    width: 50%;
    border-right:1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
}

.clearlyIntro .table .td-2 {
    width: 40%;
    text-align: center;
    vertical-align: middle;
    border-top: none;
}

.clearlyIntro .table .red {
    color: #F01400;
}

.clearlyIntro .table .black {
    color: #333;
}

.clearlyIntro .table .text-rt{
    float: right;
}

.clearlyIntro .table .t-bold {
    font-size: 14px;
    color: #333;
    font-weight: 600;
}

.clearlyIntro .table .t-tl {
    text-align: left;
    padding-left: .5rem
}

/*--------------------------------隐藏部分---------*/

.table-animation {
      margin: 1rem;
}

.wrapper {
    position: relative;
    display: grid;
}


.wrapper1 {
    position: absolute;
    top: 0;
    left: 0;
    right: -1rem;
    bottom: 0;
    margin-right: 15px;
    display: grid;
    color: #fff;
    opacity: 0;
    background: rgba(3, 0, 0, .6);
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 120px 50px 30px 30px 30px 30px 30px 30px 30px 32px;
}

.item1 {
    grid-column: 1 / 11;
    grid-row: 1/2;
    font-size: 2rem;
    text-align: center;
    line-height: 120px;
}

.item2 {
    grid-column: 1 / 11;
    margin: 20px;
}

.wrapper1:hover {
    opacity: 1;
/*    animation: myfirst 4s;*/
}

@-webkit-keyframes myfirst {
    0% {
        background: red;
        opacity: .6;
    }
    25% {
        background: yellow;
        opacity: .8;
    }
    50% {
        background: blue;
        opacity: .2;
    }
    100% {
        background: green;
        opacity: .6;
    }
}

@keyframes myfirst {
    0% {
        background: red;
        opacity: .6;
    }
    25% {
        background: yellow;
        opacity: .8;
    }
    50% {
        background: blue;
        opacity: .2;
    }
    100% {
        background: green;
        opacity: .6;
    }
}
