.top-text {
    margin-top: 7.5rem;
    padding: 2rem 0;
    border-bottom: 3px solid #D0D6D9;
}

.job-class {
    line-height: 4rem;
    border-bottom: 1px solid #D0D6D9;
}

.job-class span {
    padding: 0 1rem;
}

@media (max-width: 767px) {
    .job-class span {
     padding: 0;
  }
   .job-class {
    line-height: 2.5rem;
    border-bottom: 1px solid #D0D6D9;
 }
}

.job-class .diraction {
    color: #999;
    font-weight: 600;
}

.job-class a {
    color: #333;
    font-weight: 600;
    padding: .5rem;
}

.job-class a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #29B078;
    border-radius: 5%;
}

.job-class-active {
    border-bottom: 1px solid #D0D6D9;
}

.job-class-active span {
    color: #333;
    font-weight: 600;
    line-height: 5rem;
}

.theme {
    font-size: 18px;
    color: #333;
    font-weight:600;
    line-height: 4.5rem;
    border-bottom: 1px solid #D0D6D9;
}

.space {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.wrap {
    position: relative;
    display: grid;
    background-color: #fff;
    border: 1px solid #eeeded;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 200px repeat(6,40px) auto;
    font-size: 12px;
    color: #333;
}

.item1 {
    grid-column: 1 / 11;
/*    border-bottom: 1px solid #eeeded;*/
}

.item1 img {
    margin-top: 20px;
    margin-left: 10px;
    float: left;
}
.item1 div {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 159px;
    font-size: 16px;
    font-weight: 600;
}

.item1 span {
    display: block;
    margin-left: 159px;
    margin-right: 10px;
    word-break: break-all;
    font-size: 14px;
}

.item2{
    grid-column: 1 / 6;
    grid-row: 2 / 3;
    border: 1px solid #eeeded;
}

.item3 {
    grid-column: 6 / 11;
    grid-row: 2 / 3;
    border: 1px solid #eeeded;
    border-left: none;
}

.item4 {
    grid-column: 1 / 6;
    grid-row: 3 / 4;
}

.item5 {
    grid-column: 6 / 11;
    grid-row: 3 / 4;
}

.item6 {
    grid-column: 1 / 5;
    grid-row:  4 / 7;
    -ms-flex-item-align: center;
    align-self: center;
    justify-self: center;
}

.item7 {
    grid-column: 5 / 11;
    grid-row: 4 / 5;
}

.item8 {
    grid-column: 5 / 11;
    grid-row: 5 / 6;
}

.item9 {
    grid-column: 5 / 11;
    grid-row:  6 / 7;
    border-bottom: none;
}

.item10 {
    grid-column: 1 / 11;
    grid-row: 7 / 8;
    border: 1px solid #eeeded;
}

.item11 {
    grid-column: 1 / 11;
    grid-row: 8 / 9;
    word-break: break-all;
    padding: 5px 10px;
}

.item4, .item11 {
    border: 1px solid #eeeded;
    border-top: none;
}

.item5, .item7, .item8, .item9 {
    border: 1px solid #eeeded;
    border-top: none;
}

.item2, .item3, .item4, .item5, .item7, .item8, .item9, .item10{
    line-height: 40px;
    padding-left: 10px;
}

.item2, .item3, .item4, .item5, .item6, .item11 {
    color: #999;
}

.red {
    color: #F01400;
}

.heavy {
    font-weight: 600;
}

.black {
    color: #333;
}

.float-r {
    float: right;
    padding-right: 10px;
}

.wrap2 {
    position: absolute;
    top: 0;
    opacity: 0;
    display: grid;
    margin-right: 15px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 40px) ;
    color: #fff;
    background: rgba(3, 0, 0, .6);
}

.wrap2:hover {
    opacity: 1;
    -webkit-animation: swordsmanye 3s;
    animation: swordsmanye 3s;
}

.item12 {
    grid-column: 1 / 11;
    grid-row: 3 / 5;
    font-size: 1.5rem;
    text-align: center;
}

.item13 {
    grid-column: 2 / 10;
    grid-row: 5 / 11;
    padding-bottom: 3.2rem;
    text-indent: 2em;
    font-size: 16px;
}
@media (max-width: 767px) {
    .item12 {
      grid-column: 1 / 11;
      grid-row: 2 / 4;
      font-size: 1.5rem;
      text-align: center;
}
    .item13 {
      grid-row: 4 / 11;
      padding-bottom: 7.7rem;
      text-indent: 2em;
      font-size: 15px;
    }
}

@-webkit-keyframes swordsmanye {
  0% {
      background: #c00;
      opacity: .6;
    }
  50% {
      background: orange;
      opacity: .6;
    }
  100% {
      background: yellowgreen;
      opacity: .6;
    }
}

@keyframes swordsmanye {
  0% {
      background: #c00;
      opacity: .6;
    }
  50% {
      background: orange;
      opacity: .6;
    }
  100% {
      background: yellowgreen;
      opacity: .6;
    }
}

@keyframes swordsmanye {
  0% {
      background: #c00;
      opacity: .5;
    }
  50% {
      background: orange;
      opacity: .5;
    }
  100% {
      background: yellowgreen;
      opacity: .5;
    }
}
