
/*                     _ooOoo_
 *                    o8888888o
 *                    88" . "88
 *                    (| -_- |)
 *                    O\  =  /O
 *                 ____/`---'\____
 *               .'  \\|     |//  `.
 *              /  \\|||  :  |||//  \
 *             /  _||||| -:- |||||-  \
 *             |   | \\\  -  /// |   |
 *             | \_|  ''\---/''  |   |
 *             \  .-\__  `-`  ___/-. /
 *           ___`. .'  /--.--\  `. . __
 *        ."" '<  `.___\_<|>_/___.'  >'"".
 *       | | :  `- \`.;`\ _ /`;.`/ - ` : | |
 *       \  \ `-.   \_ __\ /__ _/   .-` /  /
 *  ======`-.____`-.___\_____/___.-`____.-'======
 *                     `=---='
 *  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *  Code is far away from bug with the Buddha's protection
 */


body, html, div, p {
    padding: 0;
    margin: 0;
}

html {
/*    font-size: 100px;*/
}

body {
/*    font-size: 14px;*/
    font-family: "MicrosoftYaHei";
}

.toperbar {
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    background-color: #fff;
}

.toperbar span {
    display: inline-block;
    width: 40%;
    line-height: 2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #29B078;
}

.contract {
    float: right;
    line-height: 2rem;
}

.topbar {
    width: 100%;
    color: #fff;
    background: #29b078;
}
